Host bastion
    HostName 35.175.66.3
    User ubuntu
    IdentityFile ~/.ssh/vockey-2025-26.pem
    IdentitiesOnly yes

Host logs_inf_service
    HostName 10.1.11.50
    User ubuntu
    IdentityFile ~/.ssh/vockey-2025-26.pem
    ProxyJump bastion
    IdentitiesOnly yes

Host consul_service
    HostName 10.0.11.40
    User ubuntu
    IdentityFile ~/.ssh/vockey-2025-26.pem
    ProxyJump bastion
    IdentitiesOnly yes

Host auth_service
    HostName 10.0.11.10
    User ubuntu
    IdentityFile ~/.ssh/vockey-2025-26.pem
    ProxyJump bastion
    IdentitiesOnly yes

