#!/bin/bash
set -e

SERVICE_NAME="{{ service_name }}"
SERVICE_ID="{{ service_name }}"
SERVICE_PORT={{ service_port }}

CONSUL_HOST="{{ consul_host }}"
CONSUL_PORT={{ consul_port }}

SERVICE_ADDRESS="{{ ansible_facts['default_ipv4']['address'] }}"

TAGS='{{ service_tags | default(["microservice"]) | to_json }}'
META='{{ service_meta | default({}) | to_json }}'

curl -s -X PUT "http://${CONSUL_HOST}:${CONSUL_PORT}/v1/agent/service/register" \
  -H "Content-Type: application/json" \
  -d "{
    \"ID\": \"${SERVICE_ID}\",
    \"Name\": \"${SERVICE_NAME}\",
    \"Address\": \"${SERVICE_ADDRESS}\",
    \"Port\": ${SERVICE_PORT},
    \"Tags\": ${TAGS},
    \"Meta\": ${META},
    \"Check\": {
      \"HTTP\": \"http://${SERVICE_ADDRESS}:${SERVICE_PORT}/docs\",
      \"Interval\": \"10s\",
      \"Timeout\": \"5s\"
    }
  }"

echo "✔ Servicio ${SERVICE_NAME} registrado en Consul (${SERVICE_ADDRESS}:${SERVICE_PORT})"
