- name: Desplegar microservicio
  hosts: microservices, globalservices
  become: yes
  vars_files:
    - ../inventories/dev_vars.yaml
  roles:
    - microservice
  vars:
    ansible_python_interpreter: auto