- name: Clonar el repositorio del microservicio
  hosts:
    - microservices
    - rabbitmq
    - consul
    - auth
  become: yes
  any_errors_fatal: true
  vars_files:
    - ../inventories/dev_vars.yaml
  roles:
    - repository
  vars:
    ansible_python_interpreter: /usr/bin/python3

- name: Desplegar consult y rabbitmq
  hosts: 
    - consul
    - rabbitmq
  become: yes
  any_errors_fatal: true
  vars_files:
    - ../inventories/dev_vars.yaml
  roles:
    - deploy
  vars:
    ansible_python_interpreter: /usr/bin/python3

- name: Esperar 30 segundos antes de continuar
  hosts: localhost
  gather_facts: no
  tasks:
    - pause:
        seconds: 30

- name: Registrar rabbitmq
  hosts: 
    - rabbitmq
  become: yes
  any_errors_fatal: true
  vars_files:
    - ../inventories/dev_vars.yaml
  roles:
    - register
  vars:
    ansible_python_interpreter: /usr/bin/python3
    script_name: "service_register.sh"

- name: Desplegar microservicios
  hosts: 
    - microservices
  become: yes
  any_errors_fatal: true
  vars_files:
    - ../inventories/dev_vars.yaml
  roles:
    - deploy
  vars:
    ansible_python_interpreter: /usr/bin/python3

- name: Registrar todos los servicios
  hosts: 
    - microservices
    - auth
  become: yes
  any_errors_fatal: true
  vars_files:
    - ../inventories/dev_vars.yaml
  roles:
    - register
  vars:
    ansible_python_interpreter: /usr/bin/python3
    script_name: "service_register.sh"

- name: Desplegar servicio auth
  hosts: 
    - auth
  become: yes
  any_errors_fatal: true
  vars_files:
    - ../inventories/dev_vars.yaml
  roles:
    - deploy
  vars:
    ansible_python_interpreter: /usr/bin/python3